html,
body {
  padding: 3px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  font-size: 4.2rem;
}


p{
  font-size: 2.3rem;
}

h3{
  font-size: 1.9rem;
  color: rgb(139, 135, 222);
}

span{
  color: rgb(139, 135, 222);
}
